.layout-wrapper{
    width: 100vw;
    height: 100vh;
}

.layout-container{
    height: 100%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 25px #e4e4e4;
    height: 70px;
    position: relative;
    z-index: 10;
}

.body{
    display: flex;
    height: calc(100% - 70px);
}

.menu{
    list-style: none;
    width: 200px;
    box-shadow: 5px 15px 30px #cccccc;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu li + li{
    margin-bottom: 20px;
}

.menu__avatar{
    margin: 50px 0px;
}

.content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}